<nav class="w-full h-[8vh] fixed z-50 flex items-center px-6 bg-white narbar-border">
    <div class="text-xl font-bold">Portfolio</div>
    <ul class="flex gap-6 ml-auto">
        <!-- <li><a class="hover:text-blue-600">Blogs</a></li>
        <li><a class="hover:text-blue-600">Projects</a></li>
        <li><a class="hover:text-blue-600">Contact</a></li> -->
    </ul>
    <a [href]="githubUrl" target="_blank" class="mx-4 h-[30px]"><ng-icon [svg]="githubIcon" title="GitHub" size="30px"></ng-icon></a>
</nav>