<section class="text-center py-20">
    <h1 class="text-4xl font-bold ">Hi, I'm {{ name }}</h1>
        <div class="h-[30px] my-4">
            @defer (on immediate) {
                <p class="text-3xl text-gray-600" [typewriter]="titles" [isLoop]="true"></p>
            }
    </div>
    <p class="w-[40%] m-auto mb-6">I'm a software engineer with experience developing scalable web applications, designing RESTful API services, and architecting robust database schemas. I prioritize writing clean, maintainable code and continuously refine my skills across modern development tools and frameworks.</p>
    <div class="flex gap-4 justify-center">
        <a href="https://github.com/firstwan" target="_blank"><img class="icon-size" alt="github" title="GitHub" src="icons/github.svg" /></a>
        <a href="https://www.linkedin.com/in/firstwan/" target="_blank"><img class="icon-size" alt="linkedin" title="LinkedIn" src="icons/linkedin.svg" /></a>
        <a [href]="resumePath" download><ng-icon [svg]="downloadIcon" class="icon-size" alt="Resume" title="Resume"></ng-icon></a>
        <a href="mailto:firstwan95@gmail.com"><ng-icon [svg]="emailIcon" class="icon-size" color="#EA4335" alt="Gmail" title="Gmail"></ng-icon></a>
    </div>
</section>